<li class="{{ if isCompleted 'completed' }}">
    {{#if isEditing}}
        {{input class="edit" value=title focus-out="acceptChanges" insert-newline="acceptChanges"}}
    {{else}}
        {{input type="checkbox" checked=todo.isCompleted class="toggle"}}
        <label {{action "editTodo" on="doubleClick"}}>{{title}}</label>
        <button {{action "deleteTodo" todo}} class="destroy"></button>
    {{/if}}
</li>
